* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: white;
  margin: 0;
}

#Canvas > canvas {
  border-radius: 10px;
}

.main-container {
  max-width: 1200px;
  margin: 32px auto 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "config config config config canvas canvas canvas canvas canvas canvas canvas canvas";
  column-gap: 32px;
}

.config-panel {
  grid-area: config;
  border-radius: 10px;
  background-color: lightgray;
  width: 100%;
  padding: 24px;
}

.input-wrapper {
  display: flex;
  align-content: center;
}

.input-wrapper:not(:first-child) {
  margin-top: 16px;
}

.input-wrapper > label {
  margin-right: 16px;
}

.input-wrapper > span {
  margin-left: 16px;
}

.canvas {
  grid-area: canvas;
  width: 100%;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 32px;
}

.l-system-information-panel {
  background-color: #eee;
  border-radius: 10px;
  padding: 16px;
  margin-top: 16px;
  font-family: monospace;
}
